@import "tailwindcss";

@font-face {
  font-family: "mont";
  src: url("./assets/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-mont: "mont", sans-serif;
  --font-sans: var(--font-mont);
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
